h1,
h2,
h3,
h4 {
	font-weight: 700;
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.6rem;
}

p,
a {
	font-size: 1.6rem;
}

.App {
	/* border: 1px solid blue; */
	/* margin: 2rem; */
}

header {
	position: fixed;
	border: 1px solid yellow;
	width: 100%;
	height: 5rem;
	background: red;
	margin-top: 2rem;
}
.header-content {
	background: blue;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: baseline;
}

header nav a {
	margin-left: 1.5rem;
}

.landing {
	/* border: 1px solid red; */
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.landing-child {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	height: 50vh;
	color: red;
	/* border: 1px solid violet; */
}
